<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.uport.sdk.transport">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".RequestDispatchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".IntentForwardingActivity"
            android:taskAffinity="" />
    </application>

</manifest>
