<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.uport.sdk.demoapp">

    <application
        android:name=".DemoApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".CreateKeyActivity" />
        <activity android:name=".ImportKeyActivity" />
        <activity android:name=".key_protection.KeyProtectionListActivity" />
        <activity android:name=".key_protection.KeyGuardProtectionActivity" />
        <activity android:name=".key_protection.FingerPrintProtectionActivity" />
        <activity android:name=".managing_jwt.SignJWTKeyPairSignerActivity" />
        <activity android:name=".managing_jwt.SignJWTListActivity" />
        <activity android:name=".managing_jwt.SignJWTUportHDSignerActivity" />
        <activity android:name=".DIDResolverActivity" />
        <activity android:name=".managing_jwt.VerifyJWTActivity" />
        <activity android:name=".request_flows.RequestFlowListActivity" />
        <activity android:name=".request_flows.SelectiveDisclosureActivity" />
        <activity android:name=".request_flows.VerifiedClaimRequestActivity" />
        <activity android:name=".request_flows.PersonalSignRequestActivity" />
        <activity android:name=".request_flows.TypedDataRequestActivity" />
        <activity android:name=".request_flows.EthereumTransactionActivity" />


        <!--<activity-->
        <!--android:name=".DeepLinkActivity"-->
        <!--android:launchMode="singleTop">-->
        <!--&lt;!&ndash; deep links &ndash;&gt;-->
        <!--<intent-filter-->
        <!--android:autoVerify="true"-->
        <!--tools:targetApi="23">-->
        <!--<action android:name="android.intent.action.VIEW" />-->

        <!--<category android:name="android.intent.category.BROWSABLE" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->

        <!--<data-->
        <!--android:host="uport-project.github.io"-->
        <!--android:pathPrefix="/uport-android-sdk"-->
        <!--android:scheme="https" />-->

        <!--</intent-filter>-->
        <!--</activity>-->

        <!--when using deeplinks as callbacks, you need to set the intent filters on this activity and merge-->
        <activity
            android:name="me.uport.sdk.transport.IntentForwardingActivity">
            <!-- deep links -->
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="23">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="uport-project.github.io"
                    android:pathPrefix="/uport-android-sdk"
                    android:scheme="https" />

            </intent-filter>
        </activity>

    </application>

</manifest>